// // Colors
// $primary-color: #1f4d3a;
// $primary-color_2: #2e7d5b;

// $secondary-color: #ffc83d;
// $secondary-color_2: #f97316;

// $cta-color: #38bdf8;

// $content-background-color: #f8faf7;

// $neutral-color: #e5e7eb;
// $neutral-color_2: #1f2937;

// //DIMENSIONS STYLES

// // Layout dimensions
// $content-width: 80rem;

// // Component dimensions
// $header-wrapper-height: 5rem;

// //Buttons
// $btn-height: 2.5rem;
// $btn-width: 7rem;

// // PADDING STYLES

// $content-padding: 3.5rem;

// // Border styles
// $border-radius-m: 1rem;
// $border-style: 1px solid black;

// //FONT STYLES

// $text-highlight-shadow: 1px 1px 2px black;

// //Font sizes
// $font-size-l: 2.5rem;

//Fonts
$body-font: 'Inter', sans-serif;

//Spacing
$gap-m: 2rem;

$padding-m: 1rem;
