// // Colors
// $primary-color: #1f4d3a;
// $primary-color_2: #2e7d5b;

// $secondary-color_2: #f97316;

// $cta-color: #38bdf8;

// $content-background-color: #f8faf7;

// $neutral-color: #e5e7eb;
// $neutral-color_2: #1f2937;

// //DIMENSIONS STYLES

// // Layout dimensions
// $content-width: 80rem;

// // Component dimensions
// $header-wrapper-height: 5rem;

// //Buttons
// $btn-height: 2.5rem;
// $btn-width: 7rem;

// // PADDING STYLES

// $content-padding: 3.5rem;

// //FONT STYLES

// $text-highlight-shadow: 1px 1px 2px black;

// //Font sizes
// $font-size-l: 2.5rem;

//Fonts
$body-font: 'Inter', sans-serif;

//Gaps
$gap-xs: 0.5rem;
$gap-s: 1rem;
$gap-m: 2rem;

//Paddings
$padding-m: 2rem;

//Border radius
$border-radius-m: 0.375rem;

// Border styles
$border-style: 2px solid black;

//Colors
$primary-color: #f97316;
$secondary-color: #ffc83d;
$tertiary-color: #38bdf8;

$background-color: #f8faf7;

$neutral-color: #e5e7eb;
$neutral-color_2: #1f2937;
