@use '../../styles/variables.scss' as *;

.dashboard-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $tertiary-color;
}

.dashboard-content {
  display: flex;
  gap: $gap-m;
  padding: $gap-m; //Use gap value here so that they always match.
}
