<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()" class="transaction-form">
    <div class="form-header">
        <h2 class="form-heading">Add new transaction</h2>
    </div>
    <div class="form-body">
        <p class="required-instructions">All fields marked with (*) are required.</p>
        <div class="select-buttons">
            <div class="form-input">
                <label for="type">Type*</label>
                <p-selectbutton formControlName="type" [options]="transactionOptions" id="type" size="small" />
            </div>
            <div class="form-input">
                <label for="type">Currency*</label>
                <p-selectbutton formControlName="currency" [options]="currencyOptions" id="type" size="small" />
            </div>
        </div>
        <div class="form-input">
            <label for="title">Title*</label>
            <input placeholder="Enter a title for your transaction..." formControlName="title" id="title" type="text"
                pInputText pSize="small">
        </div>
        <div class="form-input">
            <label for="amount">Amount*</label>
            <p-inputnumber [min]="0" formControlName="amount" mode="currency" currency="EUR" inputId="amount"
                size="small" locale="bg-BG" />
        </div>
        <div class="form-input">
            <label for="date">Date*</label>
            <p-datepicker formControlName="date" inputId="date"
                [showTime]="transactionForm.controls.includeTime.value ?? false" [showIcon]="true"
                size="small"></p-datepicker>
            <div class="time-toggle">
                <label for="time">Include time:</label>
                <p-toggleswitch formControlName="includeTime" inputId="time" />
            </div>
        </div>
        <div class="form-input">
            <label for="note">Note</label>
            <textarea formControlName="note" pTextarea placeholder="Describe your transaction here..." id="note"
                [autoResize]="true" pSize="small"></textarea>
        </div>
    </div>
    <div class="form-footer">
        <p-button type="submit" class="submit-btn">Add</p-button>
    </div>
</form>